footer
  .container.text-center
    p.pull-left © 2018 Company, Inc. All Rights Reserved
    a.github-button.float-right(href="https://github.com/dmitrychurkin", data-icon="octicon-star", data-show-count="true", aria-label="Star dmitrychurkin") Star
