extends layout

block content
  br
  br
  br
  p.lead Metric logging and reporting service.
  hr
  .row
    .col-sm-12.main
      h2 Metric managment panel
      .alert.alert-success.fade(role="alert") Metrics been succefully sent
      .alert.alert-warning.fade(role="alert")
        .js-sum
      form#metric
        .form-group
          label(for="metric_key") Metric key
          input#metric_key.form-control(aria-describedby="metric_key")
        .form-group
          label(for="metric_value") Value
          input#metric_value.form-control(type="number" aria-describedby="metric_value")
        button.btn.btn-primary(type="submit") Send
    .col-sm-12.main.mt-4
      button#view_metric.btn.btn-success View metric
