doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Task 2 | Deep Consulting
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    //- link(rel='stylesheet', href='/css/main.css')
    link(href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")

  body
    include partials/header

    .container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3

      block content

    include partials/footer

    script(src='//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    //- script(src='/js/lib/jquery-3.1.1.min.js')
    //- script(src='/js/lib/bootstrap.min.js')
    script(async defer src="//buttons.github.io/buttons.js")
    //- script(src='/js/main.js')

    //- Google Analytics: change UA-38177297-2 to be your site's ID
    //- script.
    //-   window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    //-   ga('create','UA-38177297-2','auto');ga('send','pageview')
    //- script(src='https://www.google-analytics.com/analytics.js' async defer)